<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.concoeducation.magiccards">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagicCards">
        <activity
            android:name=".qner"
            android:exported="true" />
        <activity
            android:name=".mcardss"
            android:exported="true"
            android:label="@string/title_activity_mcardss"
            android:theme="@style/Theme.MagicCards.NoActionBar" />
        <activity
            android:name=".mcards"
            android:exported="true" />
        <activity
            android:name=".carsfrag"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>